#folder
target/
.vagrant/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo
*.proto
*.tl

#deploy data

deploy/bin/*
!deploy/bin/runall2.sh
!deploy/bin/killall.sh
deploy/logs/*
!deploy/logs/.gitkeep
deploy/data/*
!deploy/data/.gitkeep

seqsvr/store/internal/dao/data/
/seqsvr/alloc/client/cli/cli
